<html>
  <head>
    <title><%= @person.firstname %> <%= @person.surname %></title>
  <script language="JAVASCRIPT" type='text/javascript'>
<!--
function createRequest(method, url) {
  var xhr = new XMLHttpRequest();
  xhr.open(method, url, true);
  return xhr;
}
function reload(){
  var url = window.location.href + 'person';
  var xhr = createRequest('GET', url);
  xhr.setRequestHeader( "Accept", "application/json" );

  xhr.onreadystatechange = function() {//Call a function when the state changes.
	if(xhr.readyState == 4) {
              payload = JSON.parse(xhr.response);
              alert(payload.firstname + " " + payload.surname);
	}
  }

  xhr.send();
}
function update( attribute, value ) {

  var url = window.location.href + attribute;
  var xhr = createRequest('PATCH', url);
  xhr.setRequestHeader( "Content-Type", "application/json" );

  xhr.onreadystatechange = function() {//Call a function when the state changes.
	if(xhr.readyState == 4) {
              alert("updated");
	}
  }

  xhr.send("{\"" + attribute + "\":\"" + value + "\"}");
}
-->
</script>
</head>
  <body>
    <div>
      Firstname <input type="text" size="30" id="firstname" value="<%=@person.firstname %>" /> <button onclick="update('firstname', document.getElementById('firstname').value)">update</button>
    </div>
    <div>
      Surname <input type="text" size="30" id="surname" value="<%=@person.surname %>" /> <button onclick="update('surname', document.getElementById('surname').value)">update</button>
    </div>
    <div>
      <button onclick="reload()">reload and show all</button>
    </div>
  </body>
</html>
